#Panel {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
#Content {
    background: url('../icon/bule.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    margin: 0.5rem;
    border-radius: .6rem;
    font-weight: bold;
    position: absolute;
    line-height: 2rem;
    width: 100%;
}

.sensor-group {
    display: flex;
    font-size: 1.5rem;
    padding: .5rem;
    margin: 2rem;
    justify-content: space-around;
}

.group-name {
    width: 100px;
    height: 100px;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    margin-left: 0.5rem;
    margin: auto;
}

.group-name .label {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.group-value {
    margin: auto;
    font-size: 2.25rem;
    text-align: center;
    width: 50%;
    margin-right: 2.5rem;
}

.group-unit {
    font-size: 1rem;
    padding-top: 1.5rem;
    margin-right: .5rem;
    position: relative;
}

.group-unit .label {
    color: #2a2a2a;
    font-size: 1.25rem;
    position: absolute;
    right: 0;
    top: 35px;
}

.group-icon {
    width: 20%;
    margin-top: 5px;
    font-size: 3.75rem;
    margin-right: .5rem;
}

img {
    width: 100%;
    height: 100%;
}